.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*

.vscode-test-web/**
dist/web/test/**
build/**
**/.eslintrc.json

out/**
node_modules/**
dist/test/**
webpack.config.js
esbuild.js
**/tsconfig.json
#**/*.ts
